/* About */

h3 {
    text-align: center;
}

.img {
  display: inline-block;
  width: 530px;
  height: 10%;
  opacity: 0.8;
  margin-top: 30px;
  margin-right: 22px;

}

p .text{
  margin-top: 30px;
  text-align: center;
}

img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
