/* About */

.img {
  display: block;
  margin-top: 2px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 15%;
  opacity: 0.8;

}

.aroundimg{
  border:black;
  border-top-style: solid;
  border-bottom-style: solid;
  width:400px;
  margin-left: auto;
  margin-right: auto;
}

img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}