/* About */

.img {
  opacity: 0.8;
  width: 100%;
  margin: 20px 0 20px 0;
}

.img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


#map_Sheffield {
  height: 400px;
}
#map_Leeds {
  height: 400px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
