.Menu .card img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.Menu .menu img {
  object-fit: contain;
}

.frame {
  width: 350px;
  height: 350px;
  margin: 10px;
}

.text {
  height:70px;
  text-align: center;
  margin:10px;
}