html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Capriola";
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

nav .logo {
  font-family: "Arizonia";
  font-size: 50px;
  transition: opacity .3s ease
}

nav .logo:hover {
    opacity: 0.65;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

main {
  padding: 20px;
}

#submit_order:focus {
  box-shadow: none;
}

#map {
  height: 100%;
  height: 600px;
  width:600px;
}
