.profile h5 span {
  font-size: 0.7rem;
}

.list-group-item.active {
  background-color: #9c814b;
  border-color: #9c814b;
}

.tt-suggestion {
  cursor: pointer;
}

.tt-suggestion:active {
  background-color: #9c814b;
  border-color: #9c814b;
}

.search-menu-items {
  display: inline!important;
}

.menu-inputs {
  display: flex;
  flex-direction: column;
}

span.twitter-typeahead {
  margin-bottom: 10px;
}