<%= erb :header %>
  <h3 class="mb-3">Food menu</h3>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="menu-pies-tab" data-toggle="tab" href="#menu-pies" role="tab" aria-controls="menu-pies" aria-selected="true">Pies</a>
        <a class="nav-item nav-link" id="menu-sides-tab" data-toggle="tab" href="#menu-sides" role="tab" aria-controls="menu-sides" aria-selected="false">Sides</a>
        <a class="nav-item nav-link" id="menu-drinks-tab" data-toggle="tab" href="#menu-drinks" role="tab" aria-controls="menu-drinks" aria-selected="false">Drinks</a>
      </div>
    </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="menu-pies" role="tabpanel" aria-labelledby="menu-pies-tab">
          <h4 class="mt-3 mb-3">Pies</h4>
          <div class="menu row mb-4">
            <div class="col-lg-4 col-md-6">
              <div class="card mb-3">
                <img src="/img/food-collection-8-006.jpg">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="card mb-3">
                <img src="/img/food-collection-8-006.jpg">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="card mb-3">
                <img src="/img/food-collection-8-006.jpg">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="menu-sides" role="tabpanel" aria-labelledby="menu-sides-tab">
          <h4 class="mt-3 mb-3">Sides</h4>
          <div class="menu row mb-4">
          <div class="col-lg-4 col-md-6">
            <div class="card mb-3">
              <img src="/img/food-collection-8-006.jpg">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card mb-3">
              <img src="/img/food-collection-8-006.jpg">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card mb-3">
              <img src="/img/food-collection-8-006.jpg">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="tab-pane fade" id="menu-drinks" role="tabpanel" aria-labelledby="menu-drinks-tab">
          <h4 class="mt-3 mb-3">Drinks</h4>
          <div class="menu row mb-4">
          <div class="col-lg-4 col-md-6">
            <div class=" mb-3 card ">
              <img src="/img/food-collection-8-006.jpg">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class=" mb-3 card ">
              <img src="/img/food-collection-8-006.jpg">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card mb-3">
              <img src="/img/food-collection-8-006.jpg">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<%= erb :footer %>
