<!DOCTYPE html>
<html lang="en">

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta author="Lucas Maybury, Jake Rawsthrone, Collin Althomali, Palash Surana, Seth Faulkner, Sofia Bodurova">
        <link rel="stylesheet" href="../css/index.css">
        <title>Pie Piper</title>
    </head>

    <body>
      <p>Test text</p>
    </body>
</html>
