<!DOCTYPE html>
<html lang="en">

<html>
    <head>
        <meta charset="UTF-8">
        <meta author="Lucas Maybury, Jake Rawsthrone, Collin Coutinho, Palash Surana, Seth Faulkner, Sofia Bodurova">
    </head>

    <body>
      <div>
        <ul>
          <li>Home</li>
          <li>Contact</li>
          <li>About Us</li>
          <li>Login</li>
        </ul>
      </div>
    </body>
</html>
