<%= erb :header %>
<div class="row">
</div>
<div class="modal-opener-btn">
<div class="modal fade" id="map_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="mapModalLable">Address</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <div class="form-group">

         <div class="form-group">
           <label for="address">Address</label>
           <input type="text" class="form-control" onfocus="geolocate()" aria-expanded="false" aria-controls="addresstoggle" id="autocomplete" value="" placeholder="">
         </div>

         <div class="form-group">
           <label for="house">House Number/Name</label>
           <input name="house" type="text" class="form-control" id="street_number" placeholder="House Name/Number">
         </div>
         <div class="form-group">
           <label for="street_address">Street Name</label>
           <input name="street" type="text" class="form-control" id="route" placeholder="Street Name">
         </div>
         <div class="form-row">
           <div class="form-group col-md-6">
           <label for="postal_code">Post Code</label>
           <input name="postcode" type="text" class="form-control" id="postal_code" placeholder="Postcode">
           </div>
         </div>

       </div>
       <div id="map"></div>
       <p id= "address_checker"> Sorry, we do not deliver to this address. </p>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       <button type="button" class="btn btn-primary" id="save" disabled>Save changes</button>
     </div>
     </div>
   </div>
 </div>
</div>
<%= erb :footer %>
