<%= erb :header %>

  <h3> About Pie Pieper </h3>


    <img class="img" src="/img/aboutus.jpg">

    <div class="aroundimg">
      <p > We are Pie Pieper. We originate from the ancient Greece and propagated
       our delicious pies all over Europe and especially the United Kingdom.
        Because of our delicious recipes
        we are currently one of the best pie shops on the market, famous for our varieties of
        pies for vegans, vegeterians, non-vegetarian. Furthermore, we suggest soft drinks,
        milkshakes, which are by the way awesome, alcohol and gluten-free sweets.
        <br> Daily we have around 1000 clients per day, leaving our pie shop with a smile. 
        </p>
    </div>

    <img class="img" src="/img/pie.jpg">


<%= erb :footer %>
