<%= erb :header %>

  <h3> About Pie Piper </h3>

    <img class="img" src="/img/aboutus.jpg">
    <img class="img" src="/img/pie.jpg">


      <p class="text"> We are Pie Piper. Pie Piper originates from ancient Greece and popularizes
       their delicious pies recipes all over Europe and especially in Sheffield, the United Kingdom.
        Because of the magic in our recipes we are currently one of the best pie shops on the market worldwide,
        famous for our varieties of pies for vegans, vegeterians, and non-vegetarians. Furthermore, we serve soft drinks,
        milkshakes (which are awesome, by the way) alcohol, and gluten-free sweets.
        Daily we have around 1000 clients per day, leaving our pie shop with a smile.
      </p>


<%= erb :footer %>
