<%= erb :header %>
<form class="form-signin" method="post" action="/campaigns">
  <h3> New Marketing Campaigns </h3>

  <form class="campaignform">
    <div class="form-group">
      <label for="prize">Select a prize </label>
      <select style="height:45px" class="form-control" id="prize" >
        <% (CampaignType.all).each do |campaign_type| %>
          <option><%=campaign_type.type_name%></option>

        <% end %>
      </select>

    <div class="form-group">
      <label for="message">Message</label>
      <textarea class="form-control" name="message" rows="3"></textarea>
    </div>

      <button class="btn btn-primary" href="#" role="button" type="submit">Submit</button>

    <button class="btn btn-primary" onclick="getRetweets()">Close Campaign</button>
  </form>

  <script>
    function getRetweets(){
      //updated version
      var ids = <%= $client.retweeters_ids(972108300593631233, options = {}).to_json %>;
      console.log(ids)
    }
  </script>

<%= erb :footer %>
